$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

article{
  margin:0 -15px 0 0;
}

aside{
  margin-left: -15px;
}


a:hover{
  text-decoration: none;
}
.app_content{
  display: inline-flex;
}

.article-content{
  margin:0 -15px 0 -15px;
  img{
    min-width: 100%;
    height: 75%;
  }
}

.article-body{
  padding:1em;
  background-color: white;
  width:75%;
  margin:auto;
  margin-top:-20%;

  h1{
    text-align: left;
    margin-bottom: .5em;
  }
  p{
    text-align: left;
  }
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom:0px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }

  .navbar{
    margin-bottom:0px;
  }
}

.container{
  width:100%;
  border-radius:0px !important;
}

.jumbotron{
  border-radius:0px !important;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  width:100%;
  border-radius:0px;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

  /* Remove the padding we set earlier */
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom:0;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
/*DEFAULT ELEMENTS*/
body{
  margin:0px;
}
/*START NAVBAR*/
.navigation {
  list-style: none;
  margin: 0;

  background: green;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: flex-start;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  background: MediumSpringGreen;
  color: white;
}

.navigation a:hover {
  background: darken(deepskyblue, 2%);
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
  aside { display: none;}
  article{margin:0 -15px 0 -15px;}
}

@media all and (max-width: 600px) {
  .navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }

  .navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }


  .navigation li:last-of-type a {
    border-bottom: none;
  }
}
/*END NAVBAR*/

/*START CONTENT NAVBAR*/
.flex-container {
  padding: 10px 0 0 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.aside-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display:inline-block;
}

.flex-item {
  background: tomato;
  width: 7em;
  height: 5em;
  margin: 10px 5px 10px 5px;

  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  -webkit-transition: box-shadow 0.15s ease-out;
  -moz-transition: box-shadow 0.15s ease-out;
  -o-transition: box-shadow 0.15s ease-out;
  transition: box-shadow 0.15s ease-out;
}
.flex-item-tiny{
  width:5em;
  height:3em;
}

.flex-item:hover{
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.4);
  -webkit-transition: box-shadow 0.15s ease-out;
  -moz-transition: box-shadow 0.15s ease-out;
  -o-transition: box-shadow 0.15s ease-out;
  transition: box-shadow 0.15s ease-out;
}
.card {
  height: 100%;
  overflow: hidden;
  position: relative;
  .card-image{
    min-height:100%;
    min-width:100%;
  }
  .card-content {
    min-width: 100%;
    background-color: rgba(255,255,255,0.5);
    padding: 10px;
    position: absolute;
    bottom: -15%;
    transition: all 0.5s ease;
    color: black;
    text-align: left;

    .card-title{
      font-weight:bolder;
      margin-bottom:15px;
    }
  }
}
.card:hover .card-content {
  background-color: rgba(255,255,255,0.9);
  bottom: 0;
}
/*END CONTENT*/

/*BEGIN ARTICLES*/
.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;

  font-weight: bold;
  text-align: center;
}
.wrapper > * {
  flex: 1 100%;
}

.main {
  text-align: left;
  background: deepskyblue;
}

.aside-1 {
  justify-content: center;
  background: gold;
}
.aside-2 {
  justify-content: center;
  background: hotpink;
}
@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .aside-1 { order: 1; }
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
}
@media all and (max-width: 623px) {
  .flex-item{
    width: 12em;
    height:8em;
  }
  .card .card-content{
    bottom: -10%;
  }
  .aside { flex: 0 auto; }
}
@media all and (max-width: 543px) {
  .flex-item{
    width: 10em;
    height:8em;
  }
}
@media all and (max-width: 470px) {
  .flex-item{
    width: 9em;
  }
}
@media all and (max-width: 420px) {
  .flex-item{
    width: 8em;
  }
}

@media all and (max-width: 370px) {
  .flex-item{
    width: 7em;
  }
}

@media all and (max-width: 330px) {
  .flex-item{
    width: 6em;
  }
}
@media all and (max-width: 280px) {
  .flex-item{
    width: 5em;
  }
}
