<div class="app_content">
  <!-- Articles -->
  <article class="main">
    <!-- Begin Content Block -->
    <ul class="flex-container">
      <a ng-repeat="x in names" ng-href="#/article/{{x.artId}}">
        <li class="flex-item" id="{{x.artId}}">
          <div class="card">
            <img class="card-image" src="http://thecatapi.com/api/images/get?format=src&amp;type=gif" alt="" />
            <div class="card-content">
              <h6 class="card-title">{{x.Name}}</h6>
              <h6>{{x.City}}, {{x.Country}}</h6>
            </div>
          </div>
        </li>
      </a>
    </ul>
    <!-- End Content Block -->
  </article>
  <!-- End Articles-->
  <aside class="aside aside-1">
    <ul class="aside-container">
      <a ng-repeat="i in [1,2,3,4,5,6,7,8,9,10]" ng-href="#/article/{{i}}">
        <li class="flex-item flex-item-tiny">{{i}}</li>
      </a>
    </ul>
  </aside>
</div>
